.navbar {
  width: 100%;
  padding: 15px 40px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #3B983B;
  text-decoration: none;
}

.navbar-links {
  display: flex;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links a {
  text-decoration: none;
  color: #333;
  font-size: 15px;
  transition: color 0.3s;
}

.navbar-links a:hover {
  color: #2e792e;
}

.navbar-actions {
  display: flex;
  gap: 10px;
}

.btn-login {  
  padding: 8px 20px;
  border-radius: 10px;
  border: 2px solid #3B983B;
  background: #3B983B;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  display: inline-block;
}

.btn-login:hover {
  color: #3B983B;
  background: transparent;
}