@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

* {
  font-family: "Righteous";
  box-sizing: border-box;
  scrollbar-width: none;
}

html, body, #root {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
